Boolean Expressions - are created with the keywords and, or, not. Python will understand by itself its called key word or reserved words.

In [1]:
True and False # in this case both needs to be correct

False

In [5]:
True or False # one of the case should be correct

True

In [6]:
not False # it means it is true

True

In [7]:
True is True # it is true

True

In [8]:
True is False # true has been converted to false

False

In [9]:
'b' is 'd' # asking if b is d? its false as its not equal

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-9-fc30fde6cbc3>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'b' is 'd'

False

In [10]:
True + True # in python true is 1 and false is 0 so here its 1 + 1

2

In [11]:
True + False # 1 + 0 True is 1 and False is 0

1

In [12]:
True - False

1

In [14]:
False + False

0

In [15]:
True - False

1

In [16]:
10 == 11 # equal to is == not single =

False

In [17]:
10 == 10

True

Vote on Menti.com

In [18]:
True and False or True

True

Key words and Data types/structures

How to check the key words
Key Words are reserved words and can not be used as variables name

In [20]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Data Types/Structures: Numbers,String,List.Tuple,Set                  and Dictionary

In [22]:
#Numbers
a = 20
type (a)

int

In [23]:
a=20.0
type (a)

float

In [1]:
c= 6+2j
type(c)

complex

String

In [2]:
print ("Hello world") # whenever we write anything inside 
single quote, double quote or triple quote is called a string

Hello world

In [8]:
first_string='Python'
secound_string=' is a powerful'
third_string=' language'
#combining strings in python useing variables(ex:frist string) and data('python')

In [9]:
print(first_string+secound_string+third_string)

Python is a powerful language

In [10]:
type(first_string) # str is string data type

str

In [11]:
x=123.0
type(x)

float

join strings and number

In [13]:
print('Day' + '1')# where the int 1 is converted into string

Day1

List

Its a type of container which will hold any type of data.

Properties of List:
1. The data is always in a [ ]
2. It can hold any type of data
3. We can change or update the data in the list or its mutable

In [15]:
l=[]
l

[]

In [16]:
l=['a','b','c']
l

['a', 'b', 'c']

In [17]:
l=['a',6,4.5]
l

['a', 6, 4.5]

In [18]:
#how to copy one list into another list
l2=list(l)
l2

['a', 6, 4.5]

In [19]:
marks=[23,45,67,89]
marks

[23, 45, 67, 89]

In [20]:
copy_marks= list(marks)
copy_marks

[23, 45, 67, 89]

A python string is also a sequence of characterers and can be treated as an tierable over those characters. Combined with the list()function, a new list of the characters can easily be generated.

In [21]:
list('abcdefghi')

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

Adding you can append to a list very easily (addto the end)or insert at an arbitary index.

Append

In [22]:
employee=[]
employee.append('Radha')
employee

['Radha']

In [23]:
employee.append('Ramesh')
employee.append('Salman')
employee

['Radha', 'Ramesh', 'Salman']

In append the data are added at the end one by one

Insert : It is used to add the data inbetween the data list.
Syntax:insert(index,object)
This command places the object at the index supplied

In [26]:
employee.insert(1,"D'souza")
employee

['Radha', "D'souza", "D'souza", 'Ramesh', 'Salman']

In [27]:
emp_salary=[1000,2000,3000,4000]
emp_salary

[1000, 2000, 3000, 4000]

In [28]:
emp_salary.insert(2,60000)
emp_salary

[1000, 2000, 60000, 3000, 4000]

In [29]:
#lenth len() helps in checking the lenth of data in the list
len(emp_salary)

5

Indexing and Slicing

Indexing and slicing of lists works just like in strings. Lets make a new list to remind ourselves of how this works

In [2]:
my_list=[12,23,34,45,56,67]

In [31]:
#grab element based on index number (negative and positive)
my_list[3]

45

In [32]:
#update the data based on index
my_list[3]=90
my_list

[12, 23, 34, 90, 56, 67]

In [4]:
#grabe index 1 and everything past it (it will fatch from 1 to 2 index data)
my_list[1:3]

[23, 34]

In [5]:
#grabe index 2 to last element
my_list[2:]

[34, 45, 56, 67]

In [6]:
#grabe index from 0 to 3
my_list[:4]

[12, 23, 34, 45]

we can also use + to temporary add data to exesting list.

Note: We can save it permanently by reassigning it to the same list or new list

In [7]:
my_list +['23']

[12, 23, 34, 45, 56, 67, '23']

In [8]:
my_list=my_list+ ['23']

In [9]:
my_list

[12, 23, 34, 45, 56, 67, '23']

In [10]:
#make the list double, its temporary to make it permanent we have to reissigne it
my_list*2

[12, 23, 34, 45, 56, 67, '23', 12, 23, 34, 45, 56, 67, '23']

Advanced List

In [11]:
#count: it counts the frequency of a data in a list
my_list.count(23)

1

In [14]:
#extend: append method will add data in a square bracket
x=[1,2,3]
x.append([4,5])
x

[1, 2, 3, [4, 5]]

In [17]:
#extend is used in such case to add data to the existing list without the bracket
x=[1,2,3]
x.extend([4,5])
x

[1, 2, 3, 4, 5]

In [18]:
#index returns the index number of the elements placed in an list. make a note that if the element is not in the list then it returns an error
#Note: it cannot be used in case of duplicate data in the list
my_list.index(23)

1

In [21]:
#POP: its used to remove the data from the list. it removes the last element if we are not specifing the index number
students=['ram','shila','aryan','nancy']
pop_last=students.pop()
students

['ram', 'shila', 'aryan']

In [23]:
#delete based on index number
pop_index=students.pop(2)
pop_index

'aryan'

In [24]:
students

['ram', 'shila']

In [25]:
#Remove is used to remove the duplicates. it removes the very first occurance of that element
roll_numbers=[1,2,3,4,5,6,7,8,9,10,2,6]
roll_numbers.remove(2)
roll_numbers

[1, 3, 4, 5, 6, 7, 8, 9, 10, 2, 6]

Note: Keep the cursore in the paranthisis and hold shift and tab it will show the information related to the command.
    if we use shift and tab 4 times it will show description along with a examples

In [26]:
#reverse: it will reverse the data in the list
a=[1,2,3,4]
a.reverse()
a

[4, 3, 2, 1]

In [27]:
# sort: arranging data in decreasing or increasing order
w=[1,6,4,9,1,6,9,4,6,9,] #assending order
w.sort()
w

[1, 1, 4, 4, 6, 6, 6, 9, 9, 9]

In [28]:
w.sort(reverse=True)#desending order
w

[9, 9, 9, 6, 6, 6, 4, 4, 1, 1]

Tuples
Its a container which holdes data
Properties of tuples
1. immutable or no edit
2. ( )
3. can hold all types of data

A tuple can be converted into list and list can converted to tuples

In [29]:
t=(1,2,3)
t

(1, 2, 3)

In [30]:
type(t)

tuple

Tuple are used to keep unmutable data like saalary, if salary needs update we can convert it into list andd do the change and then convert it into tuple

In [31]:
#convert tuple into list
var1=list(t)
type(var1)

list

In [32]:
var1

[1, 2, 3]

List Practice

In [68]:
list =[12,45,66,70,43.5,21.87]
list

[12, 45, 66, 70, 43.5, 21.87]

In [74]:
list[0:4] #sliceing positive

[12, 45, 66, 70]

In [86]:
list[-4:-1]#slicing negative

[66, 70, 43.5]

In [80]:
list[:] #step by defult is 1

[12, 45, 66, 70, 43.5, 21.87]

In [81]:
list[::]

[12, 45, 66, 70, 43.5, 21.87]

In [82]:
list[::2]#in this step it will skip secound element as its 2

[12, 66, 43.5]

In [83]:
list[::3]#in this case its skiping 3 elements after 3

[12, 70]

In [34]:
#convert into tuple
tuple(var1)

(1, 2, 3)

In [35]:
type(var1)

list

In [36]:
#lenth of the data
len(var1)

3

We can do indexing here too just like the list

SET

Its a collection of unique elements so no duplicate data in it.

In [38]:
x=set()
type(x)

set

In [40]:
x.add(1)
x

{1}

In [42]:
x.add(1)
x

{1}

we tried to add 1 two times yet it shows one 1 one. as set will not take duplecate data.

In [44]:
#convert list to set
l=[1,1,4,7,6,3,9,2,7,3,9,6,1,4]
set(l)
#it will remove duplicate and make it in order

{1, 2, 3, 4, 6, 7, 9}

Dictionaries

its inside curly backets. it contains key word and valuse against it.We can add additional keys and corrosponding values. They can hold all types of data

In [42]:
my_dict={'key1':'Values','key2':'values2'}
my_dict

{'key1': 'Values', 'key2': 'values2'}

In [44]:
my_dict.keys()#getting key names

dict_keys(['key1', 'key2'])

In [46]:
my_dict.update({"Salary":20000}) #adding key and values to the dictonery
my_dict

{'key1': 'Values', 'key2': 'values2', 'Salary': 20000}

In [47]:
my_dict.pop("Salary")#pop removes the item with specific key name
my_dict

{'key1': 'Values', 'key2': 'values2'}

In [49]:
del my_dict["key1"]#with specific key name it will del that key
my_dict

{'key2': 'values2'}

In [50]:
del my_dict# it will delete the dictonery 
my_dict #getting the below error as the dictonery is deleted

NameError: name 'my_dict' is not defined

In [49]:
#calling value by key
my_dict['key2']

'values2'

In [50]:
my_dict={'Roll Number':123,'Marks':[12,34,67], 'Subject':['Computers','Science','Maths']}
my_dict

{'Roll Number': 123,
 'Marks': [12, 34, 67],
 'Subject': ['Computers', 'Science', 'Maths']}

In [51]:
#call items from the dictonery
my_dict['Subject']

['Computers', 'Science', 'Maths']

In [52]:
#calling a specifc index value
my_dict['Subject'][2]

'Maths'

In [53]:
#can then even call methods on that value like changeing the value to upper
my_dict['Subject'][0].upper()

'COMPUTERS'

In [54]:
#we can effect the value of a key as well 
my_dict['Marks']

[12, 34, 67]

In [57]:
#add marks to the fine element
my_dict['Marks'][0]=my_dict['Marks'][0]+30
my_dict

{'Roll Number': 123,
 'Marks': [102, 34, 67],
 'Subject': ['Computers', 'Science', 'Maths']}

In [58]:
#we can do direct changes like this too
my_dict['Marks'][1]=50
my_dict

{'Roll Number': 123,
 'Marks': [102, 50, 67],
 'Subject': ['Computers', 'Science', 'Maths']}

Note: Python has built in method of doing a self substraction or addition or multiplication or division. We could also use += or .= for the above statement

In [59]:
my_dict['Marks'][2]+=17

In [61]:
my_dict

{'Roll Number': 123,
 'Marks': [102, 50, 84],
 'Subject': ['Computers', 'Science', 'Maths']}

In [62]:
my_dict['Marks'][0]-=40
my_dict

{'Roll Number': 123,
 'Marks': [62, 50, 84],
 'Subject': ['Computers', 'Science', 'Maths']}

In [66]:
#adding value in dictonary
d={}
d

{}

In [64]:
d['Animal']='Dog'
d

{'Animal': 'Dog'}

In [65]:
d['answer']=[23,45,67,78,89]
d

{'Animal': 'Dog', 'answer': [23, 45, 67, 78, 89]}

Dictionary Methods

There are a few methods we can call on a dictionary. Lets get a quick introduction to a few methods.

In [67]:
#creat a dictionary
d = {'key1':1,'key2':2,'key3':3}
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [69]:
#method to return a list of all keys
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [70]:
#method to grab all values
d.values()

dict_values([1, 2, 3])

In [71]:
#method to return tuples of all items
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

Branching (if/elif/else)

It helps in checking the condition, if a condition is fulfilled or elif condition is fulfulled or else it will give the final output.

if condition works in conditions. if a condition is not fulfilled there will be no response, that is way we need the else or elif as if is wrong then the code will go to the else or elif condition and print the output.

In [2]:
i = 5000
if i < 3000: #when ever we write : it belogs to if function, if the function is true it will print as below.     
    print('Puri trip') #why cursur will take 4 spaces which is called indentation. 
elif i < 4000: # if the if function is false it will come to elif
    print('Vizag trip')
else: # if the if and elif is not true then by default print as below irrespective of i value
    print('Kolkata trip')

Kolkata trip

In [38]:
if 20 < 10:
    print("20 is greater than 5")# it will not give u any output as its false but as there is no elif or else option its not giveing any output.

In [39]:
if 20 >80:
    print("20 is greater than 5")
else:
    print("20 is not greater than 5")

20 is not greater than 5

In [40]:
x = 450
y = 450

if x > y:
    print("X is greater")
elif x < y:
    print("Y is greater")
else:
    print("X is equal to Y")

X is equal to Y

In [2]:
i = 91
j = 23
if j >i:
    print("Its working") # it will not give u any output as its false but as there is no elif or else option its not giveing any output.

In [3]:
i = 91
j = 23
if j>i:
    print("Its working")
else:
    print("Its not working")

Its not working

In [4]:
a = 2734567 # anpother way of writing if, elif and else function
b = 7890654
print("A") if a > b else print ("B")

B

In [7]:
a = 330
b = 330

print("A") if a > b else print("It is equal") if a==b else print("B")

It is equal

In [8]:
a = 200
b = 33
c = 500
if a>b and c>a:
    print("Both conditions are true")
else:
    print("Both conditions are not True")

Both conditions are true

In [9]:
a = 2000
b = 3000
c = 4000
if a > b or c > a:# we can put one condition is true by useing Or in if condition
    print("Atleast one of the conditions is true")

Atleast one of the conditions is true

In [13]:
 x = 40
if x < 50: #its called nested if that is one if inside another if
    print('Above 10')
    if x > 20:
        print('and also above 20')
    else:
        print('its not above 20')
else:
    print('But not above 30')

Above 10
and also above 20

In [14]:
a = 23
b = 200
if b > a:
    pass #it will not do anything

In [16]:
i = 15
if (i==10):
    print ("i is 10")
elif (i == 15):
    print ("i is 15")
elif (i == 20):
    print ("i is 20")
else:
    print("i is not here")

i is 15

In [21]:
i = 22
j = 21
k = 20
#nested ifs
if i > j:
    if j > k:
        if k == '20': # as k = 20 is intr data type where as its string type '20' thaths why its not 20
            print ("its 20")
        else:
            print ("its not 20")
    else:
        print("K")
else:
    print ("something")

its not 20

In [57]:
if 10 > 5:
    if 20 > 50:
        print("Secound if is running")
    else:
        print("Else part of secound if is running")
else:
    print("Else part of first if is running")

Else part of secound if is running

Loops

Its a sequeance or iteration of elements of a list,tuple, string. Loop will continue until it reached the last item in the sequance.

For Loop

The for loop can help us in if/elif/else option in sorting the data as per our requirments.
The body of the for loop is seperated from the rest of the code using indentation.

In [23]:
location = ['Bangalore','Nodia','Mumbai','Delhi','Hydrabad','Chennai']
location

['Bangalore', 'Nodia', 'Mumbai', 'Delhi', 'Hydrabad', 'Chennai']

In [22]:
#string data
location = ['Bangalore','Nodia','Mumbai','Delhi','Hydrabad','Chennai']

for i in location:# for every i or data in the location in the string
    print (i) #print i or data
    #thats why it will print i or data one by one

Bangalore
Nodia
Mumbai
Delhi
Hydrabad
Chennai

In [24]:
salary = [2000,3000,4000,5000,6000,7000]

for val in salary:# for every value in salary
    if val>5500:#if value is not greater then 5500 then it will go back to next item
        print (val)#until it reaches the condition then it will print the value

6000
7000

List Comprehension

List comprehension is a shorter syntax when you wnat to creat a new list based on the values of an existing list. When we put the logic inside a list [  ] its called list comprehension. The result will come in list formate [  ]

In [25]:
sal = [val for val in salary if val>5500]
sal # for every value in salary if value is greater then 5500 print it

[6000, 7000]

In [30]:
#list of numbers
daily_sales = [100,200,300,400,500,579,890]
#variable to store the sum
income_till_date = 0

#iterate over the list
for val in daily_sales:
    income_till_date = income_till_date + val
    print("Income till date = >",income_till_date)
#total income
print("The total weekly income is === >>", income_till_date)
#as the print is outside the for loop thats why its printing once

Income till date = > 100
Income till date = > 300
Income till date = > 600
Income till date = > 1000
Income till date = > 1500
Income till date = > 2079
Income till date = > 2969
The total weekly income is === >> 2969

In [31]:
d = [1,2,3,4]

for i in d:
    print (i)
else:
    print("No items Left")

1
2
3
4
No items Left

In [ ]:
While loop

While loop is executed when a condition is met.

In [34]:
n = 10
# initialize sum and counter
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i + 1 # update counter
    print(sum)
print("The Sum is ",sum)#print the sum

1
3
6
10
15
21
28
36
45
55
The Sum is  55

for loop = if you know how many times to execute the code then use for loop

while loop = if you dont know how many data you have so that you can execute the code then we will use while loop

In [41]:
#puting range in for loop
for i in range(0,10):
    print(i*7)

0
7
14
21
28
35
42
49
56
63

In [1]:
x = [1,2,3,4,5,6,7,8,9]

for val in x:
    if val > 5:
        print("Value is greater than 5")
    elif val < 5:
        print("Value is less than 5")
    else:
        print("Value is equal to 5")

Value is less than 5
Value is less than 5
Value is less than 5
Value is less than 5
Value is equal to 5
Value is greater than 5
Value is greater than 5
Value is greater than 5
Value is greater than 5

Break and Continue

the break statement terminates the loop containing it. it will check the condition until its fulfilled then it will break or stop there and not check the data anyfurther.

In [2]:
#use of break statement inside the loop
city=['Delhi','Hydrabad','Chennai','Nodia','Indor','Hydrabad']

for val in city:
    if val == "Nodia":
        break
    print(val)

Delhi
Hydrabad
Chennai

In [3]:
salary = [1000,3000,5000,6000,7000]

for val in salary:
    if val > 5000:
        break
    print(val)

1000
3000
5000

continue 

continue statement is used to skip the data which matches the condition and will continue checking all the data. it can be used to skip a particular data.

In [4]:
for val in city: #contnue statement inside a loop
    if val == "Nodia":
        continue
    print(val)

Delhi
Hydrabad
Chennai
Indor
Hydrabad

In [5]:
for val in salary:
    if val > 5000:
        continue
    print(val)

1000
3000
5000

the Range function

we can generate a sequance of numbers using range() function. Example range(10) will generate numbers from 0 to 9 (10 numbers). its dosenot store all the values in memory.

range(start,end,step)

In [7]:
print(range(10))# if you give one parapeter python will start from 0 and take 10 as end

range(0, 10)

In [8]:
print(range(2,30))

range(2, 30)

In [15]:
print(range(2,30,5))

range(2, 30, 5)

In [10]:
print(list(range(10)))#convert the range in list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
print(list(range(2,30)))# the start point 2 is included and end number 30 is excluded

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [14]:
print(list(range(2,30,5)))# the step is used to skip that many unit 5 of data inbetween the start and end range 
# when we dont put the skip value python by defult takes it as 1 therefore the sequance of data is generated
#the end element is not taken in range

[2, 7, 12, 17, 22, 27]

In [16]:
print(list(range(30,2,-5)))#for getting a reverse of data

[30, 25, 20, 15, 10, 5]

In [18]:
number = range(0,20)# for putting a range in list format
print(list(number))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [20]:
number = range(0,20)# for putting a range in for loop
for val in number:
    print(val)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

string indexing

In [21]:
s = "Hello World"
s

'Hello World'

In [22]:
s[0]#python indexes the character just like list even the space is considered in inxing of the string charaters

'H'

In [23]:
s[1:4]# similar to list it will not show the last element

'ell'

In [24]:
s[0:]# here we have left the end value empty it willtake data till last element

'Hello World'

In [25]:
s[:3]# from zero to secound element as the 3rd point or end point is always excluded

'Hel'

In [26]:
s[-5:]#we can do negative slicing too

'World'

In [27]:
s[::2]#we are using step to exclude 2nd element

'HloWrd'

In [28]:
s[::-2]#we have done the negative to exclude 2nd elements

'drWolH'

Function

Function will be one of our building blocks when we construct larger amount of code to solve problems.

function allows us to reuse the code instead of writing the code again and again. 

it helps in 
1. reduing the lines od code
2. programe looks good


Def Statments

Now let us learn how to build a function and what is the syntax in python
the syntexfor def statements will be in the following form:
    def name of the function (arg1,arg2, etc):
        "'this is where the function document string '" #python will not execute this as its inside tripil quote

In [30]:
def say_hello(): #this is basic without the aarguments 
    print('This is working') #as we have not called the function it will show anything in response

In [31]:
#call the function
say_hello()

This is working

In [35]:
def greeting(name): # we have given one argument
   # print('Hello', name) # both the formate is valid and we are asking the function to add Hello infront of name
    print('Hello %s'%name)
greeting('Laxmi')#we have inserted one data laxmi to run the data

Hello Laxmi
Hello Laxmi

In [36]:
def add_num(num1,num2,num3):# we have 3 arguments
    return num1+num2+num3 # return will give me the return the result

add_num(10,20,30)# we have three data

60

In [39]:
# we can save the data by useing return and can be saved it against a variable like result.
result=add_num(10,20,30)
result

60

In [40]:
print(add_num('one','two','three'))# can call the function for any type of data

onetwothree

In [43]:
#we are combining for loop, range
def sqrt_num(number):
    for n in range(2,number):
        if n % 2 == 0:
            print('Squared :',n**2)
        else:
            print('It is not even number :' ,n)
sqrt_num(15)

Squared : 4
It is not even number : 3
Squared : 16
It is not even number : 5
Squared : 36
It is not even number : 7
Squared : 64
It is not even number : 9
Squared : 100
It is not even number : 11
Squared : 144
It is not even number : 13
Squared : 196

Lambda Function

Its a one time use function. We dont need to define it as itself is a built in function of python. its use for one time simple function cannot be used in complex function

In [45]:
x = lambda Y : Y+30 # its a one argment 
print(x(50))

80

In [46]:
x = lambda a,b: a*b # its a multiple argument or two set of data
print(x(15,20))

300

In [47]:
x= lambda a,b,c: a+b/c
print(x(10,20,40))

10.5

In [48]:
#when we are not sure about how many data or arrguments we are dealing with.
# we use *args in such case

def my_fun(*args):
    for i in args:
        print("My args: -",i)
my_fun("India", 56,"Bangalore",45.5,23)

My args: - India
My args: - 56
My args: - Bangalore
My args: - 45.5
My args: - 23

In [1]:
# we use **kwargs when we take dictionary data i.e keys and values
# .key will give only key
# .value will give only value
# .items will give key and value
def my_day(**kwargs):
    for key,value in kwargs.items():
        print(key,value)
my_day(Month =['January','Fabruary','March','April','May','June','July','August','September','October','November','December'],Days =[1,2,3,4,5,6,7,8,9,10,11,12])

Month ['January', 'Fabruary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
Days [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
MAP

Its a function that takes in two arguments.

1. A function or def 
2. A sequence iterable or data

Ex: map(function,data)

In [6]:
# this is the function
def total_marks(marks):
    if marks == 30:
        return (marks + 5)
    if marks == 32:
        return (marks + 3)

#this is the data
Score = [30, 32, 33,35, 30, 30, 32]

total = list(map(total_marks,Score))#the result will come in list formate
total

[35, 35, None, None, 35, 35, 35]

In [ ]:
f_temps =list(map(fahrenhit,temp))

Filter

The function filter needs function and list. This function filters out all the dats for which function is True.

In [11]:
#first lets make a function
def even_check(num):
    if num%2 == 0:
        return True
#secound is the list
num = range(40)

#lets apply the filter function on the data 
list(filter(even_check,num))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [13]:
#the same thing can be done by useing lambda function too
list(filter(lambda x: x%2 == 0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [ ]:
Files 

We can use the files in our computer in python too.

In [10]:
# creating tst file in python and writing in it
%%writefile untitled.txt
Hello, this is a quick test file
# this command is running fine in the new notebook

SyntaxError: invalid syntax (<ipython-input-10-deadd648dc04>, line 3)

Python Opening a file

We can open the file by useing Open() function.

In [13]:
#open the text.txt we made earlier
my_file = open('untitled.txt')

In [14]:
#we can now read the file
my_file.read()

'Hello, this is a quick test file\n'

In [15]:
#But waht happens if we try to read again
my_file.read()

''

this happens because you can imagine the reading "cursor" is at the end of the file after having read it. so there is nothing left to read. we can rest the cursor like this:

In [16]:
#seek to the start of the file(index 0)
my_file.seek(0)

0

In [17]:
#now read again
my_file.read()

'Hello, this is a quick test file\n'

In [ ]:
#we can rest it to any index number
my_file.seek(6)

In order to not have to reset every time, we can also use the readlines method. Use caution with large files, since everything will be held in memory. we will learn how to iterate over large files later in the course

In [18]:
#seek to the start of the file (index 0)
my_file.seek(0)

0

In [19]:
#readlines show the data inside a list.
my_file.readlines()

['Hello, this is a quick test file\n']

In [20]:
my_file.close()

So we have to open the file, read the file and close the file. Until we close the file no one can read or open the file.

Writing to a file

We can open the file, but python will open it in read mode only. Thants why we need to open the file in the write mode as shown below.

In [21]:
#opening the file in write mode, w stands for write mode. 
my_file = open('untitled.tst','w') # we can use w= too
#we cannot read in write mode and we have to write into the file too

In [22]:
#it wile write in the file
my_file.write('Datatrained') #11 in the response refures to the number of character

11

In [23]:
my_file.close()# need to close the file once we open it

Iterating through a file

We can also write in the file by useing multiple line.

In [24]:
%%writefile untitled.txt
first line
secound line
#its saying overwriting as this file already existes and its overwriting on it

Overwriting untitled.txt

In [25]:
#for getting the response line by line or by iterating we have to use for loop
for line in open('untitled.txt'):
    print(line)

first line

secound line

Modules and Packages

Modules in python are simplefiles with .py extension which implement a set of functions. We have to check in python for all the built in modules before importing the modules. Once the modules are loaded it will not be reloaded.

In [26]:
#import the library
import math

In [27]:
#print submodules using dir function
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [28]:
#use it ceiling rounding
math.sqrt(88.9)

9.428679653058534

You cannot use submodules directly without importing the package.

In [29]:
#sub module will not work alone
sqrt(36)

NameError: name 'sqrt' is not defined

In [30]:
#module with submodules will give the correct response
math.sqrt(36)

6.0

In [33]:
#import a specific submodule for module so that we can run it
from math import sqrt

In [34]:
sqrt(3)

1.7320508075688772

Input

this allows the user to input the data as per the user

In [35]:
#programe to take the input string from user
name=input("What is your name?")

What is your name?Avijit Mishra

In [36]:
#integer type data
age=input("What is your age ?")
print("Your age is:", age)

What is your age ?36
Your age is: 36

In [38]:
name=input("What is your name? ")
print("It was nice talking to you " + name + "!")
age=input("What is your age ")
print("Hey, you are already "+ age +" years old, Mr."+ name + "!")

What is your name? Avijit Mishra
It was nice talking to you Avijit Mishra!
What is your age 36
Hey, you are already 36 years old, Mr.Avijit Mishra!

in above case we were able to take string data only, now we will discuss how can we specify the the type of date input

In [40]:
#taking only integer data type
age=int(input("What is your age ?"))
print("Your age is:", age)

What is your age ?34
Your age is: 34

In [42]:
#taking only float data type
age=float(input("What is your age ?"))
print("Your age is:", age)

What is your age ?34
Your age is: 34.0

Errors and Exception Handeling

1. Syntax error - it occures when we miss any sintex

2. Try and Except

The basic terminology and syntax used to handle errors in python is the try and except statements. The code which can cause an exception to occure is put in the try block and the handeling of the exception are the implemented in the except block of code. The syntax form is:
   
  
  try:
        you do your operation here.....
    except Exception I:
        if there is exception I, then execute this block.
    except Expection II:
        if there is exception II, then excute this block.
    so on ....
    else:
        if there is no exception then excute this block.


Using just except, we can check for any exception:

In [1]:
#when we are doubtfull that we might get an error we are useing try 
try:
    f=open('untitled.txt','w')#we are trying to open a file in write mode
    f.read()#we cannot read a file in read mode
except IOError:#this command will check for the IOerror and then execute this print statement
    print ('Error: could not find file or read data')
else:
    print("content written successfully")
    f.close()
#This is giving us the output as shown below as we are trying to read a file in wite mode
#this way we can find out where we have done the error in codeing

Error: could not find file or read data

In [4]:
#try and finally
#in try and excute the error remark we will get if there is an error but in try and final it dosnot care if its giving an error or not it will show the finally output.
try:
    f=open("untitle.txt","r")
    f.write("Test write statement")
finally:
    print("Always execute finally code blocks")
#as we can see from below response we got the error as we are creating error yet we got the finally statement too.
#this is used when we are trying to run the code and dont want to stop here we can use it

Always execute finally code blocks

FileNotFoundError: [Errno 2] No such file or directory: 'untitle.txt'

In [10]:
#We can combine the try, execute and finally.
def askint():
    try:
        val=int(input("Please enter an phone number:  "))
    except:
        print("Looks like you did not enter an integer!")
    finally:
        print("Finally, I executed!")
    print(val)

In [11]:
#call the above function
askint()
#we entered intger so all is good

Please enter an phone number:  12235
Finally, I executed!
12235

In [12]:
#call the function again but we wil not put intger but string
askint()
# as shown below its giving me error along with the finally and execute error

Please enter an phone number:  avijit
Looks like you did not enter an integer!
Finally, I executed!

UnboundLocalError: local variable 'val' referenced before assignment

In [14]:
#we can write the above code in which the user will only input intger
def askint():
    while True:#it will enterinside if it fulfills the condition otherwise it willnot
        try:
            val=int(input("Please enter an integer:  "))
        except:
            print("Looks like you did not enter an number")
            continue
        else:
            print("Yes thats an number")
            break
        finally:
            print("Finally, I Executed")
askint()
#as shown below we continusly running it until we got integer input

Please enter an integer:  abc
Looks like you did not enter an number
Finally, I Executed
Please enter an integer:  qwt456
Looks like you did not enter an number
Finally, I Executed
Please enter an integer:  123
Yes thats an number
Finally, I Executed

Obect Oriented programming (OOP)

Its a sequence of command which we can run useing the OOPs command. We have class inside the OOPs and the class consistes of methods. A function inside a class is called a method.

In [15]:
#creating a class
#class classname(base_classes):
#    statements
class Person:
    pass #user donot want to do anything right now thats why pass is used

In [ ]:
# init - its a object constractor. it intilize what ever we are going to put inside the method.
#self is the referance
class Person:
    def __init__(self,name,surname,year_of_birth):
        self.name=name
        self.surname=surname
        self.year_of_birth=year_of_birth

In [11]:
#Methods
class Person:
    def __init__(self,name,surname,year_of_birth,student_id):
        self.name=name
        self.surname=surname
        self.year_of_birth=year_of_birth
        self.student_id=student_id
        
    def age(self,current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d. Bearing student id %d" % (self.name,self.surname,self.year_of_birth,self.student_id)
        
alec = Person("Ram","Raja", 2000,24)
print(alec)
print(alec.age(2021))

Ram Raja was born in 2000. Bearing student id 24
21

In [13]:
#Inheritance - calling a exesting class and adding it to a new class is called inherantance
class student(Person):
    def __init__(self,student_id,*args):
        super(student,self).__init__(*args)#super will establish connection between 2 classes (student and person)
        self._student_id =student_id       #__init__(*args) is used as we donot know the number of data we are going to receive therefore we are inintializing to receive the data
charlie = student(1, 'Charlie', 'Brown', 2006, 26)
print(charlie)

Charlie Brown was born in 2006. Bearing student id 26

In [4]:
#Encapsulation - is an another powerful way to extend a class which consists on wrapping an object with a secound one.
#it means combination of variour class which are compatable with each other or are made for a specific combination only.
# \n means it will print in next line \t is add one tab(4space)
class Tyres:
    def __init__(self,branch,belted_bias,opt_pressure):
        self.branch=branch
        self.belted_bias=belted_bias
        self.opt_pressure=opt_pressure
    def __str__(self):
        return("Tyre: \n \tBranch: " + self.branch + 
               "\n \tBelted_bias: "+ str(self.belted_bias) +
               "\n \tOptima pressure: " +str(self.opt_pressure))
class Engine:
    def __init__(self,fule_type,noise_level):
        self.fule_type=fule_type
        self.noise_level=noise_level
    def __str__(self):
        return("Engine: \n \tFuel type: "+self.fule_type + 
              "\n \tNoise Level: " + str(self.noise_level))
class Body:
    def __init__(self, size):
        self.size = size
    def __str__(self):
        return"Body:\n \tSize: " + self.size

class Car:
    def __init__(self,tyres,engine,body):
        self.tyres=tyres
        self.engine=engine
        self.body=body
    def __str__(self):
        return str(self.tyres)+ "\n" + str(self.engine) + "\n" + str(self.body)

t = Tyres('MRF', True, 34)
e = Engine('Petrol', 2.3)
b = Body('SUV')
c = Car(t,e,b)
print(c)

Tyre:
 	Branch: MRF
 	Belted_bias: True
 	Optima pressure: 34
Engine:
 	Fuel type: Petrol
 	Noise Level: 2.3
Body:
 	Size: SUV

Data Base Management

It is a storage where the data are stored in rows and column and it is fatched by the use of SQL. The database has multiple tables.

my SQL connector

1. install mysql software on your computer 
2. !pip install mysql in python

In [3]:
!pip install mysql
import mysql.connector #this will establish connect the python with sql

Requirement already satisfied: mysql in c:\users\user\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\user\anaconda3\lib\site-packages (from mysql) (2.0.3)

In [4]:
#connecting my sql user to python
mydb = mysql.connector.connect(
host = "localhost",
user="root",
password ="Swrupa@444367"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000213A1AD1C40>

In [10]:
#checking db
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('authordb',)
('databasel',)
('department',)
('employeedb',)
('information_schema',)
('mysql',)
('patients',)
('performance_schema',)
('sakila',)
('sportsdb',)
('studentdb',)
('sys',)
('world',)

In [9]:
#create new db
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE databasel")# databasel is the name of new database

In [12]:
#create tables inside db databasel
mydb = mysql.connector.connect( # its equal to use database command in SQL we are connecting it in SQL
host = "localhost",
user = "root",
password = "Swrupa@444367",
database = "databasel"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE school(gender VARCHAR(6),student_id INTEGER(10),marks INTEGER(3))")
#we are creating table name school, with coloum name gender,student id and mark. We are also defining the type of date 
# and maximum number of characters allowed in it.

In [13]:
#check if the tables we have created is there or not
mydb = mysql.connector.connect( 
host = "localhost",
user = "root",
password = "Swrupa@444367",
database = "databasel"
)

mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('school',)

In [15]:
#Inserting data into the table: single record insert
mydb = mysql.connector.connect( 
host = "localhost",
user = "root",
password = "Swrupa@444367",
database = "databasel"
)

mycursor = mydb.cursor()

sql = "INSERT INTO school(gender,student_id,marks) VALUES('Male',106745,45)"
mycursor.execute(sql)
mydb.commit()#commit saves the changes permently

print(mycursor.rowcount,'record inserted')#rowcount will count the rows inside a table

1 record inserted

In [17]:
#inserting multiple records
sql = "INSERT INTO school(gender,student_id,marks) VALUES(%s,%s,%s)"
val = (("Male",12345,55),("Female",12346,56),("Male",12347,89),("Female",12348,76))

mycursor.executemany(sql,val)# as it have more tehn one valus thats why we use executemany
mybd.commit()

print(mycursor.rowcount, "Record inserted")

4 Record inserted

In [24]:
#to fatch data from the database
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM school ORDER by marks desc")# by defult it is lowest to highest but we can use desc it willl give decending order

for x in mycursor:
    print(x)

('Male', 12347, 89)
('Female', 12348, 76)
('Female', 12346, 56)
('Male', 12345, 55)
('Male', 106745, 45)

In [35]:
#how to load external data into the table
#check if the local files are on ON mode ifnot then this command will
mycursor.execute("SHOW VARIABLES LIKE 'local_infile'")

#this shows variable name and value
for x in mycursor:
    print(x)

('local_infile', 'ON')

In [27]:
mycursor.execute("SET GLOBAL local_infile = ON")

In [36]:
#it will only accept file from specific location or path and not from anywhere
mycursor.execute("SHOW VARIABLES LIKE 'secure_file_priv'")

#this shows the file path. Load your csv file in the file path.
#since we are working in the local system, you have to follow this path. We have to follow the said path only.
for x in mycursor:
    print(x)

('secure_file_priv', 'C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\')

In [39]:
#load data into mysql
mycursor.execute("LOAD DATA INFILE 'C:\Program Files\MySQL\MySQL Server 8.0\Uploads\rough1.csv' INTO TABLE school FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n'IGNORE 1 LINES")
mydb.commit()
#field or data terminated by , and lines are separeted by \ 
#as the first line is coloum name thats why to IGNORE 1 line is used

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 57-58: truncated \UXXXXXXXX escape (<ipython-input-39-51aa9e93aa95>, line 2)